@tailwind base;
@tailwind components;
@tailwind utilities;

  .cssanimation,
  .cssanimation span {
    animation-duration: 2s;
    animation-fill-mode: both;
  }
  
  .cssanimation span {
    display: inline-block;
  }
  
  @keyframes fadeInSlideIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .inbox__items {
    @apply absolute bottom-[-28px] md:bottom-[-28px] z-[-1] right-[44px] md:right-[-22px] m-5 w-[244px] md:w-[296px] opacity-0;
    transition: all 0.25s;
  } 

  .inbox__items--active {
    @apply right-[36px] md:right-[44px] z-[52] opacity-100;
  }

  .envelope_initial{
    @apply absolute bottom-[0px] z-[-1] right-[0px] m-5 w-[296px] opacity-0;;
    transition: all 0.25s;
  }

  .envelope_initial--active{
    @apply right-[16px] md:right-[24px] z-[52] opacity-100;
  }

  .inbox__item {
  @apply relative rounded-2xl bg-white p-4 md:p-6 m-5 text-sm;
  box-shadow: 0px 0px 11px 7px rgb(0 0 0 / 5%);
}

.inbox__item:hover {
  background-color: #eaeaea;
}

.inbox__item::after {
  content: "";
  position: absolute;
  right: -14px;
  bottom: 29px;
  width: 0;
  height: 0;
  border-left: 15px solid #fff;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  clear: both;
}

.inbox__item:hover::after {
  border-left: 15px solid #eaeaea;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
}